<h1>確認</h1>
  <div>
    <div>
      名前: <%=@name%>
    </div>  
    <div>
      性別: <%=@gender%>
    </div>  
    <div>
      age_group: <%=@age_group%>
    </div>  
  </div>

  <p><%=Experiment_times%>回解答してね</p>
  <p>
    <a href="/experiment/<%=Experiment_times%>">実験開始</a>
  </p>
