<p>後 <%=@times%>回</p>


<audio id="sound" preload="auto" >
  <source type="audio/wav"src="<%=@sound_file_path%>">
</audio>

<div id="btns">
  <input type="button" onclick="audioplay();" value="再生">
</div>


<form action="<%=@times - 1%>" method="GET">
    どちらが聞こえましたか？
  <div>
      <input type="radio" name="user_ans" value="<%=@first_candidate_id%>" checked="checked">
      <%=@first_candidate%>
      <input type="radio" name="user_ans" value="<%=@second_candidate_id%>">
      <%=@second_candidate%>
  </div>
  <div>
    <input type="submit" value="決定">
  </div>
</form>
